/* Sección principal */
#promo {
    text-align: center;
    padding: 50px 20px;
    background-color: var(--alternative-color);
}

/* Secciones de productos */
section {
    padding: 20px 15px;
}

.productos {
    overflow: hidden; /* Asegura que los floats no rompan el contenedor */
}

/*Productos individuales con FLOAT*/
.producto {
    float: left;
    width: 370px;
    height: 500px;
    margin: 30px;
    text-align: center;
    background-color: var(--alternative-color);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

/* Sección Líderes del Sector */
#lideres-sector {
    padding: 40px 20px;
    background-color: var(--secondary-color);
    overflow: hidden; /* Para contener los elementos flotantes */
}

.texto-lideres-sector {
    float: left;
    clear: both;
    text-align: center;
    margin-left: 180px;
    margin-top: 95px;
    width: 500px; /* Ajusta el ancho según sea necesario */
    box-sizing: border-box; /* Para incluir el padding y border en el ancho total */
}

#lideres-sector h2 {
    color: var(--primary-color);
    margin-bottom: 10px;
    
}

#lideres-sector p {
    font-size: 16px;
    color: var(--text-color);
    margin: 0 auto 20px auto;
    max-width: 600px;
}

.img-familia-jugando {
    float: right;
    width: 600px;
    margin-right: 180px;
    box-sizing: border-box; /* Para incluir el padding y border en el ancho total */
}