h1 {
    color: blue;
}

body {
    background-color: gainsboro;
}

nav a {
    color: green;
}

nav li {
    margin-top: 20px;
}

section:hover {
    background-color: yellow;
}

footer {
    background-color: black;

    p {
        color: white;
    }
}
